# -*- sh -*-

# Must use at least this commit:
export NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/tarball/e19054ab3cd5b7cc9a01d0efc71c8fe310541065

# Load in the shell.nix file:
use nix
